<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="UTF-8">
    <title>Login</title>

</head>
<body>
<h1>Login Page</h1>

<form method="post">
    <div class="form-group">
        <label class="form-control-label" for="inputUsername">Username</label>
        <input type="text" class="form-control" id="inputUsername" name="username"/>
    </div>
    <div class="form-group">
        <label class="form-control-label" for="inputPassword">Pssword</label>
        <input type="text" class="form-control" id="inputPassword" name="password"/>
    </div>
    <input type="submit" class="btn bnt-primary" value="Login" />
</form>

</body>
</html>
